@import url('https://fonts.googleapis.com/css?family=Oxygen');

*{
	font-family: "Oxygen",sans-serif;
	margin: 0;
	padding: 0;
}

body{
	
}
a{
	text-decoration: none;
	color:#0079c7;
}
header{
	display: flex;
	justify-content: center;
	height: 120px;
}
.container{
	width: 990px;
	display: flex;
	justify-content: space-between;
}
.column{
	flex-direction: column;
}
.row{
	flex-direction: row;
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.center{
	justify-content: center;
}
.space-around{
	justify-content: space-around;
}
.space-between{
	justify-content: space-between;
}

/* TEXT-ALIGN */
.tcenter{
	text-align: center;
}
.tleft{
	text-align: left;
}
.tright{
	text-align: right;
}

/* HEADER */
.logo{
	
	margin-right: 15px;
	background-color: #fff;
	display: flex;
	align-items: center;
}

.menu{
	display: flex;
	align-items: center;
	font-weight: bold;
}
.menu nav ul,
.menu nav li{
	list-style: none;
	margin:0;
	padding: 0;
}
.menu ul{
	display: flex;
}
.menu nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #525252;
}
.menu nav a:hover,
.menu nav .active a{
	background-color: #39aae1;
	color: #fff;
}

/*BANNER*/
#banner{
	background-image: url("../images/img1.jpg");
	background-position: center;
	background-size: cover; 
	height: 580px;
	display: flex;
	justify-content:center;
}
#banner .banner_headline{
	flex: 1;
}
.banner_headline h1, 
.banner_headline h2{
	width: 350px;
	color: #fff;
	font-weight: 200;
	margin:0;
	padding: 0;
}
.banner_headline h1{
	font-size: 60px;
	text-shadow: 2px 2px rgba(0,0,0,.75);
	margin-bottom: 20px;
	
}
.banner_headline h2{
	font-size: 21px;
}
#banner .banner_widgets{
	height: 250px;
	display: flex;
}
.bn_wg{
	flex:1;
	color:#fff;
	padding: 15px;
}
/* CORES PADROES DO SITE */
.sky{
	background-color: #39aae1;
}
.info{	
	background-color: #0079c7;
}
.ocean{	
	background-color: #2b4c99;
}

.bn_wg_title{
	font-size: 22px;
}
.bn_wg_content{
	font-size: 14px; 
	margin-top: 20px;
	margin-bottom: 20px;
}
.bn_wg_button{
	display: inline-block;
	border:1px solid #fff;
	background-color: none;
	padding: 8px 15px;
	text-align: center;
	text-decoration:none;
	font-size: 16px;
	color: #fff; 
	transition:background-color  0.2s linear;
}
.bn_wg_button:hover{
	color: #39aae1; 
	background-color: #fff; 

}
.bn_wg_info{
	display: flex;
	border-bottom: 1px solid #fff;
	padding: 10px 0;
	font-size: 14px;
}
.bn_wg_info .left{
	flex:1;
	text-align:left;
}
.bn_wg_info .right{
	flex:1;		
	text-align:right;
}

/* CONTENT */

#content  section{
	flex:2;
}
#content aside{
	flex: 1;
}

.widget-title{
	margin-top: 30px;
	margin-bottom: 20px;
}
.widget-title-text{
	color:#000;
	font-size: 21px;
	font-weight: bold;
}
.widget-title-bar{
	margin-top: 10px;
	width: 60px;
	height: 3px;
	background-color: #39aae1;
}
.widget-body{
	margin-top: 20px;
	justify-content: space-around;
}
.widget-rect{
	margin-bottom: 30px;
}
.rect{
	width: 100px;
	height: 100px;
	background-color: #39aae1;
}
.rect:first-child{
	justify-content: flex-start;
	margin-right: 30px;
}

/* ASIDE CONSULTA */

.consult{
	color:#323232;
}
.consult .bn_wg_info{
	border-color: #5c5c5c;
}
.consult-item{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom:10px;
	border-bottom: 1px solid #cccccc;
}
.consult a.link{
	color: #0079c7;
}
.consult .mark{
	font-weight: bold;
}
.consult .consult-icon{
	width: 30px;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	background-color: #cccccc;
	color: #fff;
	margin-right: 10px;
	transition: background-color 0.2s ease-in;
}

.consult .consult-icon:hover{
	background-color:#42b3e5; 
}

.consult .consult-content{
	flex: 1;
}

article{
	flex:1;
	min-width: 300px;
	margin-bottom: 30px;
	margin-right: 30px;
}
article a{
	text-decoration: none;
}
article .post_at,
article .comments{
	color:#fff;
	padding:8px 10px;
	font-size: 14px;
}
article .post_at{
	background-color: #2b4c99;
	margin-right: 3px;
}
article .comments{
	background-color: #39aae1;
}
article .thumbnail{	
	margin-top: 30px;
}
article .thumbnail img{
	width:100%;
	height: auto;
}
article .post_title{
	margin-top: 25px;
	margin-bottom: 25px;
	color:#000;
	font-size: 24px;
}
article .post_resume{
	color:#5c5c5c;
	font-size: 14px;
	line-height: 25px;
}

/* FOOTER */
footer{
	background-color: #1e1e1e;
	color:#fff;
}

footer .footer_menu{
	height: auto;
}

footer .footer_area{
	flex: 1;
}
.ft_area_item{
	flex: 1;
	color: inherit;
}
.ft_area_item .widget-title-text{color:#fff; font-size: 16px;}
footer .ft_copy{
	border-top: 1px solid #2c2c2c;
	height: 40px; 
	line-height: 40px;
	color:#5c5c5c;
	font-size: 12px;
	margin-top: 30px;
}
footer .widget-body{
	font-size: 12px;
}
/* SECTION MEDICAL CLINICA */
footer .ft_area_item .widget-body,
footer .medicenter_contact_title,
footer .medicenter_cols{
	font-weight: bold;
	color: #5c5c5c;
}
footer .medicenter_contact_title{color:#5c5c5c;}
footer .medicenter_cols{
	flex:1;
	flex-direction: row;
	
}

.medicenter_cols div{
	flex:1;
}
.medicenter_cols div:first-child{
	margin-right: 20px;
}
.medicenter_icons{
	margin-top: 25px;
}
.medicenter_icons a{
	padding: 
}

.widget-body .wg_icon{
	width: 30px;
	height: 30px;
	color: #8c8c8c;
	font-size: 20px;
	line-height: 30px;
	background-color: #3c3c3c;
	text-align: center;
	margin-right: 10px;
	transition: background-color 0.2s linear, color 0.2s linear;
}
.medicenter_icons .wg_icon:hover{
	background: #42b3e5;
	color:#fff;
}
/* .face:hover{
	color:#2b4c99;
}
.google:hover{
	color:#ea4335;
}
.twitter:hover{
	color:#1da1f2;
}
.letter:hover{
	color:#ff812a;
} */
footer .post,
footer .tweets{
	margin-bottom: 10px;
}
/* SECTION ULTIMOS POSTS E TWEETS */
.post{
	font-weight: 500;
	color:#fff;
	margin-right: 10px;
}
.post-arrow{
	display: inline;
	margin-right:10px;
	font-size: 10px;
}
.post-arrow i{
	position: relative;
	top:20%;
	color:#fff;
}
.post-item{
	flex: 1;
}
.post-item .post-item-content{
	line-height: 20px;
}
.post-item .post-item-date{
	font-size: 11px;
	font-weight: bold;
	color:#0079c7;
	margin-top: 5px;
}